<div>
    <h2 mat-dialog-title>Model info</h2>

    <mat-dialog-content [formGroup]="form" class="modal-form">

        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" />
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Surname" formControlName="surname" />
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Patronymic" formControlName="patronymic" />
        </mat-form-field>

        <mat-radio-group formControlName="gender">
            <mat-radio-button value="MALE">Male</mat-radio-button>
            <mat-radio-button value="FEMALE">Female</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="modal-datepicker">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="birthDate"/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-select formControlName="charm">
                <mat-option
                    *ngFor="let charm of charmsDictionary" [value]="charm.id">{{ charm.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <h4>Address of residence</h4>
            <br />

            <mat-form-field>
                <input matInput placeholder="Street" formControlName="streetFact" />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="House" formControlName="houseFact" />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Flat" formControlName="flatFact" />
            </mat-form-field>
        </div>

        <div>
            <h4>Address of registration</h4>
            <br />

            <mat-form-field>
                <input matInput placeholder="Street" formControlName="streetReg" />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="House" formControlName="houseReg" />
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Flat" formControlName="flatReg" />
            </mat-form-field>
        </div>

        <h4>Phones</h4>

        <mat-form-field>
            <mat-label>Home</mat-label>
            <input matInput formControlName="phoneHome" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Work</mat-label>
            <input matInput formControlName="phoneWork" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mobile1</mat-label>
            <input matInput formControlName="phoneMobile1" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mobile2</mat-label>
            <input matInput formControlName="phoneMobile2" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>Mobile3</mat-label>
            <input matInput formControlName="phoneMobile3" />
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions class="modal-actions">
        <button mat-button color="primary" class="modal-button" (click)="close()">Close</button>
        <button mat-button color="primary" class="modal-button" (click)="save()">Save</button>
    </mat-dialog-actions>
</div>
