.table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 50px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.control button{
    width: 50px;
    height: 50px;
    font-size: 35px;
}