.table-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 25px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.client-list {
  display: flex;
  flex-direction: row;
  min-width: 1000px;
}

.control {
  width: 40px;
  display: flex;
  flex-direction: column;
}