<div class="modalView">
    <div class="modalHolder">
        <h2>{{modalFormTitle}}</h2>
        <hr>
        <div class="modalField">
            <p>Имя</p>
            <input type="text" size="40" [(ngModel)]="clientDetails.name">
            <p class="important">*</p>
        </div>
        <div class="modalField">
            <p>Фамилия</p>
            <input type="text" size="40" [(ngModel)]="clientDetails.surname">
            <p class="important">*</p>
        </div>
        <div class="modalField">
            <p>Отчество</p>
            <input type="text" size="40" [(ngModel)]="clientDetails.patronymic">
        </div>
        <div class="modalField">
            <p>Пол</p>
            <select name="gender" [(ngModel)]="clientDetails.gender">
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>
            <p class="important">*</p>
        </div>
        <div class="modalField">
            <p>Дата рождения</p>
            <input type="date" size="40" [(ngModel)]="clientDetails.birth_date">
            <p class="important">*</p>
        </div>
        <div class="modalField">
            <p>Характер</p>
            <select name="charmDot" [(ngModel)]="clientDetails.charm" (ngModelChange)="charmSelected($event)">
                <option *ngFor="let charm of charmRecords" value = {{charm.name}}>{{charm.name}}</option>
            </select>
            <p class="important">*</p>
        </div>
        <div class="modalField">
            <p>Адрес (фактический)</p>
            <div class="adress">
                <div class="adressField">
                    <p>Улица</p>
                    <input type="text" size="22" [(ngModel)]="clientDetails.fAdressStreet">
                </div>
                <div class="adressField">
                    <p class="adressP">Дом</p>
                    <input type="number" size="22" class="adressInput" [(ngModel)]="clientDetails.fAdressHouse">
                </div>
                <div class="adressField">
                    <p class="adressP">Квартира</p>
                    <input type="number" size="22" class="adressInput" [(ngModel)]="clientDetails.fAdressFlat">
                </div>
            </div>
        </div>
        <div class="modalField">
            <p>Адрес регистрации</p>
            <div class="adress">
                <div class="adressField">
                    <p>Улица</p>
                    <input type="text" size="22" [(ngModel)]="clientDetails.rAdressStreet">
                    <p class="important">*</p>
                </div>
                <div class="adressField">
                    <p class="adressP">Дом</p>
                    <input type="number" size="22" class="adressInput" [(ngModel)]="clientDetails.rAdressHouse">
                    <p class="important">*</p>
                </div>
                <div class="adressField">
                    <p class="adressP">Квартира</p>
                    <input type="number" size="22" class="adressInput" [(ngModel)]="clientDetails.rAdressFlat">
                    <p class="important">*</p>
                </div>
            </div>
        </div>
        <div class="modalField">
            <p>Телефоны</p>
            <div class="adress">
                <div class="adressField" *ngFor="let p of clientDetails.workPhone; let i = index; trackBy: trackByFn">
                    <p>Рабочий</p>
                    <input type="number" size="22" [(ngModel)]="clientDetails.workPhone[i]">
                    <p class="important"></p>
                    <button [ngClass]="{'invisible': i > 0 }" (click)="addNewWorkPhone()">+</button>
                    <button [ngClass]="{'invisible': i === 0 }" (click)="removeWorkPhone(i)">-</button>
                </div>
                <div class="adressField" *ngFor="let p of clientDetails.homePhone; let i = index; trackBy: trackByFn">
                    <p class="adressP">Домашний</p>
                    <input type="number" size="22" class="adressInput" [(ngModel)]="clientDetails.homePhone[i]">
                    <p class="important"></p>
                    <button [ngClass]="{'invisible': i > 0 }" (click)="addNewHomePhone()">+</button>
                    <button [ngClass]="{'invisible': i === 0 }" (click)="removeHomePhone(i)">-</button>
                </div>
                <div class="adressField" *ngFor="let p of clientDetails.mobilePhones; let i = index; trackBy: trackByFn">
                    <p class="adressP">Мобильный</p>
                    <input type="number" size="22" class="adressInput" [(ngModel)]= "clientDetails.mobilePhones[i]">
                    <p class="important">*</p>
                    <button [ngClass]="{'invisible': i > 0 }" (click)="addNewMobilePhone()">+</button>
                    <button [ngClass]="{'invisible': i === 0 }" (click)="removeMobilePhone(i)">-</button>
                </div>
            </div>
        </div>
        <hr>
        <button class="editAddButton" (click)="editAddClicked()">Сохранить</button>
    </div>
</div>