<div class="account-table-container mat-elevation-z8">

    <div class="account-table-header">
        <mat-form-field>
            <input matInput placeholder="Filter by FIO" #filter>
        </mat-form-field>
    </div>

    <div class="account-button-row">
        <button mat-button
                (click)="onAddClicked()"
                class="account-button">+</button>
        <button mat-button
                (click)="onEditClicked()"
                class="account-button"
                [disabled]="!this.selection.hasValue()">...</button>
        <button mat-button
                (click)="onDeleteClicked()"
                class="account-button"
                [disabled]="!this.selection.hasValue()">-</button>
    </div>

    <!--<div class="spinner-container" *ngIf="dataSource.loading$ | async">-->
        <!--<mat-spinner></mat-spinner>-->
    <!--</div>-->

    <mat-table #table [dataSource]="dataSource" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <!-- FIO -->
        <ng-container matColumnDef="fio">
            <mat-header-cell *matHeaderCellDef mat-sort-header> FIO </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
        </ng-container>

        <!-- CHARM -->
        <ng-container matColumnDef="charm">
            <mat-header-cell *matHeaderCellDef> Charm </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.charm}} </mat-cell>
        </ng-container>

        <!-- AGE -->
        <ng-container matColumnDef="age">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.age}} </mat-cell>
        </ng-container>

        <!-- TOTAL -->
        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.totalAccBalance}} </mat-cell>
        </ng-container>

        <!-- MAX -->
        <ng-container matColumnDef="max">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Max </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.maxAccBalance}} </mat-cell>
        </ng-container>

        <!-- MIN -->
        <ng-container matColumnDef="min">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Min </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.minAccBalance}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
                 (click)="onRowClicked(row)"></mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [length]="responseLength"
                   [pageSize]="3"
                   [pageSizeOptions]="[3, 5, 10]"
                   [showFirstLastButtons]="true">
    </mat-paginator>
</div>
