<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Редактируемый Список</span>
        <mat-select class="report" placeholder="Загрузить отчет" [(value)]="selected" (selectionChange)="loadReport($event)">
            <mat-option value="pdf">В формате PDF</mat-option>
            <mat-option value="xlsx">В формате XLSX</mat-option>
        </mat-select>
        <!--<button class="logout" mat-button>Выйти</button>-->
    </mat-toolbar-row>
</mat-toolbar>

<div class="mat-elevation-z8 list-div-container">

    <div class="example-loading-shade"
         *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>

    <div class="example-table-container">

        <mat-form-field class="makhan-filter">
            <input matInput placeholder="Фильтрация" #input>
        </mat-form-field>

        <table mat-table [dataSource]="data" class="example-table"
               matSort matSortActive="created" matSortDisableClear matSortDirection="asc">

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ФИО</th>
                <td mat-cell *matCellDef="let client">{{client.name}}</td>
            </ng-container>

            <ng-container matColumnDef="charm">
                <th mat-header-cell *matHeaderCellDef>Характер</th>
                <td mat-cell *matCellDef="let client">{{client.charm}}</td>
            </ng-container>

            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Возраст</th>
                <td mat-cell *matCellDef="let client">{{client.age}}</td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Общий Остаток Счетов</th>
                <td mat-cell *matCellDef="let client">{{client.total_account_balance}}</td>
            </ng-container>

            <ng-container matColumnDef="max">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Максимальный Остаток</th>
                <td mat-cell *matCellDef="let client">{{client.max_balance}}</td>
            </ng-container>

            <ng-container matColumnDef="min">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Минимальный Остаток</th>
                <td mat-cell *matCellDef="let client">{{client.min_balance}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                [ngClass]="{ 'selected': selection.isSelected(row)}"
                (click)="selection.select(row)"></tr>

        </table>

    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="5"
                   [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    <div class="makhan-btn">
        <ul>
            <li>
                <button mat-mini-fab color="grey" (click)="openDialog(1)">+</button>
            </li>
            <li>
                <button mat-mini-fab color="grey" (click)="openDialog(0)">-</button>
            </li>
            <li>
                <button mat-mini-fab color="grey" (click)="openDialog(2)">...</button>
            </li>
        </ul>
    </div>

</div>