<div>
    <h2>Список клиентов</h2>

    <button (click)="exit.emit()">Выход</button>

    <div *ngIf="clientRecords">
        <div class="search">
            <input type="text" size ="40" [(ngModel)]="filterText">
            <button (click)="loadUserInfoButtonClicked()">Поиск</button>
        </div>
        <table>
            <tr>
                <th>
                    ФИО
                    <p class="sort" (click)="sortClientsByFIO('down')">↓</p>
                    <p class="sort" (click)="sortClientsByFIO('up')">↑</p>
                </th>
                <th>Характер</th>
                <th>
                    Возраст
                    <p class="sort" (click)="sortClientsByAge('down')">↓</p>
                    <p class="sort" (click)="sortClientsByAge('up')">↑</p>
                </th>
                <th>
                    Общий остаток
                    <p class="sort" (click)="sortClientsByTotalCash('down')">↓</p>
                    <p class="sort" (click)="sortClientsByTotalCash('up')">↑</p>
                </th>
                <th>
                    Макс. остаток
                    <p class="sort" (click)="sortClientsByMaxCash('down')">↓</p>
                    <p class="sort" (click)="sortClientsByMaxCash('up')">↑</p>
                </th>
                <th>
                    Мин. остаток
                    <p class="sort" (click)="sortClientsByMinCash('down')">↓</p>
                    <p class="sort" (click)="sortClientsByMinCash('up')">↑</p>
                </th>
            </tr>
            <tr *ngFor="let clientInfo of clientRecords" [ngClass]="{'selected': selectedID === clientInfo.id}"
                (click)="selectClient(clientInfo.id)">
                <td><b>{{clientInfo.fio}}</b></td>
                <td><b>{{clientInfo.charm}}</b></td>
                <td><b>{{clientInfo.age}}</b></td>
                <td><b>{{clientInfo.totalCash}}</b></td>
                <td><b>{{clientInfo.maxCash}}</b></td>
                <td><b>{{clientInfo.minCash}}</b></td>
            </tr>

        </table>
        <div class="buttons">
            <button class="actionButton" (click)="openEditClientForm()">...</button>
            <button class="actionButton" (click)="openAddClientForm()">+</button>
            <button class="actionButton" (click)="removeClientClicked()">-</button>
        </div>
        <div class="btn-toolbar">
            <div class="btn-group">
                <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
            </div>
            <div class="btn-group pull-right">
                <ul class="pagination" >
                    <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="#">Prev</a></li>
                    <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                        <a (click)="setPage(page)" href="#" >{{page}}</a>
                    </li>
                    <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modalForm" *ngIf="modalViewEnabled">
        <div class="modalBackdrop" (click)="closeModal()"></div>
        <modal-view-component
                [selectedID]="selectedID"
                [actionType]="actionType"
                [modalFormTitle]="modalFormTitle"
                (detailsFilled)="editAddClicked($event)">
        </modal-view-component>
    </div>
</div>
