
<div class="">
    <h2>Main Form Component</h2>

    <button (click)="exit.emit()">Выход</button>

    <div *ngIf="!clientRecords">
        <button [disabled]="!loadUserInfoButtonEnabled" (click)="loadUserInfoButtonClicked()">
            Загрузить данные пользователя
        </button>
        <div *ngIf="loadUserInfoError">
            {{loadUserInfoError}}
        </div>
    </div>
    <div *ngIf="clientRecords">
        <div class="search">
            <input type="text" size ="40" [(ngModel)]="filterText">
            <button (click)="loadUserInfoButtonClicked()">Поиск</button>
        </div>
        <table>
            <tr>
                <th>ФИО</th>
                <th>Характер</th>
                <th>Возраст</th>
                <th>Общий остаток</th>
                <th>Макс. остаток</th>
                <th>Мин. остаток</th>
            </tr>
            <tr *ngFor="let clientInfo of clientRecords" [ngClass]="{'selected': selectedID === clientInfo.id}"
                (click)="selectClient(clientInfo.id)">
                <td><b>{{clientInfo.fio}}</b></td>
                <td><b>{{clientInfo.charm}}</b></td>
                <td><b>{{clientInfo.age}}</b></td>
                <td><b>{{clientInfo.totalCash}}</b></td>
                <td><b>{{clientInfo.maxCash}}</b></td>
                <td><b>{{clientInfo.minCash}}</b></td>
            </tr>

        </table>
        <div class="buttons">
            <button class="actionButton" (click)=editClientClicked()>...</button>
            <button class="actionButton" (click)="addClientClicked()">+</button>
            <button class="actionButton" (click)="removeClientClicked()">-</button>
        </div>
        <div class="btn-toolbar">
            <div class="btn-group">
                <label style="margin-top:10px">Page {{currentIndex}}/{{pageNumber}}</label>
            </div>
            <div class="btn-group pull-right">
                <ul class="pagination" >
                    <li [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a  (click)="prevPage()" href="#">Prev</a></li>
                    <li *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                        <a (click)="setPage(page)" href="#" >{{page}}</a>
                    </li>
                    <li [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a   (click)="nextPage()" href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modalView" *ngIf="modalViewEnabled">
        <div class="modalBackdrop" (click)="closeModal()"></div>
        <div class="modalHolder">
            <h2>Редактирование пользователя</h2>
            <hr>
            <div class="modalField">
                <p>Имя</p>
                <input type="text" size="40" [(ngModel)]="editableClientInfo.name">
                <p class="important">*</p>
            </div>
            <div class="modalField">
                <p>Фамилия</p>
                <input type="text" size="40" [(ngModel)]="editableClientInfo.surname">
                <p class="important">*</p>
            </div>
            <div class="modalField">
                <p>Отчество</p>
                <input type="text" size="40" [(ngModel)]="editableClientInfo.patronymic">
            </div>
            <div class="modalField">
                <p>Пол</p>
                <select name="gender" [(ngModel)]="editableClientInfo.gender">
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                </select>
                <p class="important">*</p>
            </div>
            <div class="modalField">
                <p>Дата рождения</p>
                <input type="date" size="40" [(ngModel)]="editableClientInfo.birth_date">
                <p class="important">*</p>
            </div>
            <div class="modalField">
                <p>Характер</p>
                <select name="charm" [(ngModel)]="editableClientInfo.charm">
                    <option value="меланхолик">Меланхолик</option>
                    <option value="флегматик">Флегматик</option>
                    <option value="сангвиник">Сангвиник</option>
                    <option value="холерик">Холерик</option>
                </select>
                <p class="important">*</p>
            </div>
            <div class="modalField">
                <p>Адрес (фактический)</p>
                <div class="adress">
                    <div class="adressField">
                        <p>Улица</p>
                        <input type="text" size="22" [(ngModel)]="editableClientInfo.fAdressStreet">
                    </div>
                    <div class="adressField">
                        <p class="adressP">Дом</p>
                        <input type="text" size="22" class="adressInput" [(ngModel)]="editableClientInfo.fAdressHouse">
                    </div>
                    <div class="adressField">
                        <p class="adressP">Квартира</p>
                        <input type="text" size="22" class="adressInput" [(ngModel)]="editableClientInfo.fAdressFlat">
                    </div>
                </div>
            </div>
            <div class="modalField">
                <p>Адрес регистрации</p>
                <div class="adress">
                    <div class="adressField">
                        <p>Улица</p>
                        <input type="text" size="22" [(ngModel)]="editableClientInfo.rAdressStreet">
                        <p class="important">*</p>
                    </div>
                    <div class="adressField">
                        <p class="adressP">Дом</p>
                        <input type="text" size="22" class="adressInput" [(ngModel)]="editableClientInfo.rAdressHouse">
                        <p class="important">*</p>
                    </div>
                    <div class="adressField">
                        <p class="adressP">Квартира</p>
                        <input type="text" size="22" class="adressInput" [(ngModel)]="editableClientInfo.rAdressFlat">
                        <p class="important">*</p>
                    </div>
                </div>
            </div>
            <div class="modalField">
                <p>Телефоны</p>
                <div class="adress">
                    <div class="adressField">
                        <p>Рабочий</p>
                        <input type="text" size="22" [(ngModel)]="editableClientInfo.workPhone">
                    </div>
                    <div class="adressField">
                        <p class="adressP">Домашний</p>
                        <input type="text" size="22" class="adressInput" [(ngModel)]="editableClientInfo.homePhone">
                    </div>
                    <div class="adressField">
                        <p class="adressP">Мобильный</p>
                        <input type="text" size="22" class="adressInput" [(ngModel)]="editableClientInfo.mobilePhones[0]">
                        <p class="important">*</p>
                    </div>
                </div>
            </div>
            <hr>
            <button class="editAddButton" (click)="editAddClicked()">Сохранить</button>
        </div>
    </div>
</div>