<div>
    <h2>Main Form Component</h2>

    <button (click)="exit.emit()">Выход</button>

    <div *ngIf="!userInfo">
        <button [disabled]="!loadUserInfoButtonEnabled" (click)="loadUserInfoButtonClicked()">
            Загрузить данные пользователя
        </button>
        <div *ngIf="loadUserInfoError">
            {{loadUserInfoError}}
        </div>
    </div>
    <div *ngIf="userInfo">

        <table>
            <tbody>

                <tr>
                    <td>ID</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <b>{{userInfo.id}}</b>
                    </td>
                </tr>
                <tr>
                    <td>Account name</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <b>{{userInfo.accountName}}</b>
                    </td>
                </tr>
                <tr>
                    <td>Surname</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <b>{{userInfo.surname}}</b>
                    </td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <b>{{userInfo.name}}</b>
                    </td>
                </tr>
                <tr>
                    <td>Patronymic</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <b>{{userInfo.patronymic}}</b>
                    </td>
                </tr>

            </tbody>
        </table>

    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="table">
                    <div class="table-container mat-elevation-z8">
                        <mat-table #table [dataSource]="dataSource">

                            <!-- Position Column -->
                            <ng-container matColumnDef="fio">
                                <mat-header-cell *matHeaderCellDef> Full name </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{[element.surName, element.name, element.patronymic].join(' ') }} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="charm">
                                <mat-header-cell *matHeaderCellDef> Charm </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.charm.name}} </mat-cell>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="age">
                                <mat-header-cell *matHeaderCellDef> Age </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{calculateAge(element.birthDay)}} </mat-cell>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="totalAccountBalance">
                                <mat-header-cell *matHeaderCellDef> TotalAccountBalance </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="maximumBalance">
                                <mat-header-cell *matHeaderCellDef> MaximumBalance </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.charm.name}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="minimumBalance">
                                <mat-header-cell *matHeaderCellDef> MinimumBalance </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.charm.name}} </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>

                        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="control">

                <div class="row">
                    <button mat-button (click)="notImpl()"> +</button>
                </div>
                <div class="row">
                    <button mat-button (click)="notImpl()"> -</button>
                </div>
                <div class="row">
                    <button mat-button (click)="notImpl()"> ...</button>
                </div>

                <button mat-button (click)="pong()"> ping!</button>

            </div>
        </div>
    </div>
</div>